body {
    text-align: center;
 background-color: gold;
}

h1 {
   
    font-weight: 700;
    font-style: normal;
    font-size: 80px;

}

p{
    font-weight: 400;
    font-size: 35px;
    font-style: normal;        
}


button {
    width: 250px;
    height: 80px;
    background-color: #302B0E;
    color: white;
}



button:hover{
    background-color: #960018;
}











